# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env

# OS files
desktop.ini
.DS_Store

# Python version
.python-version

# Logs
*.log

# Lock files (optional)
uv.lock

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Build files
dist/
build/
*.egg-info/